<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container" style="text-align: center;">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
    </div>

  <img src="images/portfolio.jpg" style="width: 300px; height: 300px;">
  <h3>Digital & Social Media Marketer/Software Engineer</h3>
  <p>Social Media Marketer and Software Engineer with over 5 years of experience in web-based applications, social networking, blogging, and online advertising. Extensive knowledge of web technologies and current social media platforms. Successfully assesses client's needs, generating options and implementing solutions for social media.</p>
  <br>
  <h3>Experience</h3>
    <h5>January 2022 - Present</h5>
    <p>Sales Representative<br>
    Rainbow Jade<br>
    <b>Toronto, ON, Canada</b>
    </p>
    <br>
    <h5>January 2020 — November 2021</h5>
    <p>Graphics Designer/Website Designer/Social Media Marketer<br>
    Self Employed Services <br>
    <b>Melbourne, VIC, Australia</b>
    </p>
    <br>
    <h5>Febuary 2017 — March 2021</h5>
    <p>Sales Supervisor/Business Specialist<br>
    Optus (Masterlink)<br>
    <b>Melbourne, VIC, Australia</b>
    </p>
    <br>
    <h5>January 2014—January 2021</h5>
    <p>Graphics Designer/Website Designer<br>
    Amplify Group Pty Ltd<br>
    <b>Melbourne, VIC, Australia</b>
    </p>
    <br><br>
  <h3>Education</h3>
    <h5>January 2022 - Current</h5>
    <p>Diploma: Software Engineering Technician<br>
      Centennial College<br>
      <b>Toronto, ON, Canada</b>
    </p>
    </p>
    <br>
    <h5>April 2020 – April 2021</h5>
    <p>Diploma: Digital and Social Media Marketing<br>
    Australian Pacific College<br>
    <b>Melbourne, VIC, Australia</b>
    </p>
    <br>
    <h5>January 2016 – January 2017</h5>
    <p>Diploma: Design and Visual Communication<br>
    Swinburne University<br>
    <b>Melbourne, VIC, Australia</b>
    </p>
    <br><br>
    <button><a href="#download">Download CV</a></button>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
