<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container" style="text-align: center;">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
    </div>
    <h3>Project 1 - Flair 3D</h3>
    <p>August 2022 - Ongoing<br>
    Ongoing project consisting of Website Development and management.</p>
    <img src="images/flair3d.png" style="width: 500px; height: 270.54px;">
    <p><a href="https://flair3d.com/">https://flair3d.com/</a></p>
    <br><br>

    <h3>Project 2 - John Low Architect</h3>
    <p>January 2021 - December 2021<br>
    Website Development, SEO development with the use of WIX</p>
    <img src="images/johnlowarchitect.png" style="width: 500px; height: 270.54px;">
    <p><a href="https://www.johnlowarchitect.com/">https://www.johnlowarchitect.com/</a></p>

    <h3>Project 3 - Bug Smasher Game</h3>
    <p>July 2022 - August 2022<br>
    Bug Smasher game create as part of the Java course provided by Centennial College</p>
    <img src="images/bugsmasher.png" style="width: 500px; height: 500px;">
    <p><a href="http://studentweb.cencol.ca/kyung8/Assignment%205/index.html">http://studentweb.cencol.ca/kyung8/Assignment%205/index.html</a></p>

  </main>


<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
